<p id="notice"><%= notice %></p>

<h1>Programming Ls</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Imglink</th>
      <th>Percent iq</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @programming_ls.each do |programming_l| %>
      <tr>
        <td><%= programming_l.name %></td>
        <td><%= programming_l.imgLink %></td>
        <td><%= programming_l.percent_iq %></td>
        <td><%= link_to 'Show', programming_l %></td>
        <td><%= link_to 'Edit', edit_programming_l_path(programming_l) %></td>
        <td><%= link_to 'Destroy', programming_l, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Programming L', new_programming_l_path %>
