<p id="notice"><%= notice %></p>
<div class="admin_page">
  <h1>Programmin Language: <%= @programming_l.name %> </h1>
  <p>
    <strong>ID:</strong>
    <%= @programming_l.id %>
  </p>
<p>
  <strong>Name:</strong>
  <%= @programming_l.name %>
</p>

<p>
  <strong>Imglink:</strong>
  <%= @programming_l.imgLink %>
</p>

<p>
  <strong>Percent iq:</strong>
  <%= @programming_l.percent_iq %>
</p>

<%= link_to "<button class=\"btn btn-primary\">Edit</button>".html_safe, edit_programming_l_path(@programming_l) %> |
<%= link_to "<button class=\"btn btn-primary\">Back</button>".html_safe, programming_ls_path %>
<div class="admin_page">
