<p id="notice"><%= notice %></p>
<div class="admin_page">
<h1>Work Projects</h1>
<button class="btn btn-primary" id="back" onclick="window.location.href='/admin';"> Back to Menu</button>
<table class="table table-hover table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Imglink</th>
      <th>Info link</th>
      <th>Category</th>
      <th>Technology</th>
      <th colspan="3">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @work_projects.each do |work_project| %>
      <tr class="table-light">
        <td><%= work_project.title %></td>
        <td><%= work_project.description %></td>
        <td><%= work_project.imgLink %></td>
        <td><%= work_project.info_link %></td>
        <td><%= work_project.category %></td>
        <td><%= work_project.technology %></td>
        <td><%= link_to 'Show', work_project %></td>
        <td><%= link_to 'Edit', edit_work_project_path(work_project) %></td>
        <td><%= link_to 'Destroy', work_project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Work Project', new_work_project_path %>
</div>
