<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio:rui725</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,600,700" rel="stylesheet" type="text/css">
  </head>

  <body>

      <%= yield %>
    <div id="foot">
    <%= react_component('Footer') %>
  </div>
  </body>
</html>
